body, html {
    background-color: #3D9970;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: column;
    width: 470px;
    padding-left: 10px;
    padding-top: 30px;
    align-items: flex-start;
    border: none;
}

h1{
    align-self: center;
}

#size{
    padding: 15px;
    border-radius: 50%;
}
#window{
    padding: 0;
    background-color: white;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

div {
    border: solid 1px;
}

#reset {
margin-top: 24px;
padding: 8px 18px;
border-radius: 4px;
}