body, html {
    background-color: #3D9970;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: column;
    width: 470px;
    padding-left: 10px;
    padding-top: 30px;
    align-items: flex-start;
    border: none;
}

h1{
    align-self: center;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

/* #size{
    padding: 15px;
    border-radius: 50%;
} */
#window{
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

div {
    border: solid 1px;
}

#size, #reset, #disco, #black, #pink, #erase{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: none;
}